
<button class="btn trade-entry-form__close-btn" type="button" (click)="onCloseDialog()">

    <svg class="icon icon--close" src="./assets/icon/Icon awesome-sun.svg"></svg>

</button>

<h1 class="modal-dialog-header-text  trade-entry-form__header" 
    *ngIf="dialogState == formState.Add">
    {{'trade.entireDialogFormHeaderAdd' | translate}}
</h1>  

<h1 class="modal-dialog-header-text  trade-entry-form__header" 
    *ngIf="dialogState == formState.Edit">
    {{'trade.entireDialogFormHeaderEdit' | translate}}
</h1>   

<form class="trade-entry-form" [formGroup]="entryStockForm" (submit)="onSubmitDialog()">

    <div class="trade-entry-form__section-1">

        <!-- Company name -->

        <mat-form-field id="trade-dialog-form">

            <mat-label id="trade-dialog-form">{{'trade.entireDialogFormName' | translate}}</mat-label>

            <input matInput type="text" formControlName="companyName"> 

            <mat-error *ngIf="companyName.dirty || companyName.touched">

                {{'trade.entireDialogFormErrorMessageName' | translate}}

            </mat-error>     

        </mat-form-field>

        <!-- Number of shares -->
       
        <mat-form-field id="trade-dialog-form">

            <mat-label id="trade-dialog-form">{{'trade.entireDialogFormQuantity' | translate}}</mat-label>

            <input matInput type="number" formControlName="amountOfShares">  

            <mat-error *ngIf="amountOfShares.hasError('pattern')">

                Number of shares must be a positive integer.

            </mat-error>             

            <mat-error *ngIf="amountOfShares.touched && !amountOfShares.hasError('pattern')">

                {{'trade.entireDialogFormErrorMessageQuantity' | translate}}

            </mat-error>      

        </mat-form-field>

    </div>

    <div class="trade-entry-form__section-2">

        <!-- Buy price -->

        <mat-form-field id="trade-dialog-form">

            <mat-label id="trade-dialog-form">{{'trade.entireDialogFormBuyPrice' | translate}}</mat-label>
            
            <input matInput type="text" formControlName="buyPrice" (outputData) ="onOverwriteFormPosition($event, 'buyPrice')" appNumberDigit 
             >    
                       
            <mat-error *ngIf="buyPrice.touched">

                {{'trade.entireDialogFormErrorMessageBuyPrice' | translate}}

            </mat-error>    
        
        </mat-form-field>

        <!-- Tax rate -->

        <mat-form-field id="trade-dialog-form">
        
            <mat-label id="trade-dialog-form">{{'trade.entireDialogFormTax' | translate}}</mat-label>

            <input matInput type="text" formControlName="taxRate" appNumberDigit>  

        </mat-form-field>

    </div>

    <div class="trade-entry-form__section-2">

        <!-- Brokers commission -->

        <mat-form-field id="trade-dialog-form">

            <mat-label id="trade-dialog-form">{{'trade.entireDialogFormCommission' | translate}}</mat-label>

            <input matInput type="text" formControlName="commission" appNumberDigit>  

        </mat-form-field>

        <!-- Min. Brokers commission -->

        <mat-form-field id="trade-dialog-form">

            <mat-label id="trade-dialog-form">{{'trade.entireDialogFormMinCommission' | translate}}</mat-label>

            <input matInput type="text" formControlName="minCommission" appNumberDigit>    

        </mat-form-field>

    </div>

    <div class="trade-entry-form__section-2">

        <!-- Number of calculation steps -->
        <mat-form-field id="trade-dialog-form">

            <mat-label id="trade-dialog-form">{{'trade.entireDialogFormOfferNumber' | translate}}</mat-label>

            <input matInput type="number" formControlName="calcStepCount">   

            <mat-error *ngIf="calcStepCount.hasError('pattern')">

                Number of steps must be a positive integer.

            </mat-error>     
                                              
        </mat-form-field>

        <!-- calculation percentage step -->

        <mat-form-field id="trade-dialog-form">

            <mat-label id="trade-dialog-form">{{'trade.entireDialogFormPercentageStep' | translate}}</mat-label>

            <input matInput type="text" formControlName="calcStepValue" appNumberDigit>  
            
            <mat-error >

                The min. value of the calculate step is 0.1

            </mat-error>    

        </mat-form-field>

    </div>

    <!-- calculating the buy value for better user experience -->

    <div class="trade-entry-form__section-3">

        <p class="trade-tile-form-buy-price">

            {{'trade.tileHeaderBuyValue' | translate}} 

            :

            {{(entryStockForm.value.amountOfShares * entryStockForm.value.buyPrice) | number:'1.2-2'}}

        </p>

        <p>{{entryStockForm.value.buyPrice}}</p>
        
    </div>

    <div class="trade-entry-form__section-4">

        <!-- Submit -->

        <button 
            mat-raised-button
            type="submit"
            color="primary"           
            [disabled]="entryStockForm.invalid"
        >
           <span  *ngIf="dialogState == formState.Add"> {{'trade.addButtonText' | translate}}</span>

           <span  *ngIf="dialogState == formState.Edit"> {{'trade.saveButtonText' | translate}}</span>   

        </button>        

        <!-- clear -->

        <button mat-raised-button type="button" (click)="onClearForm()">{{'trade.clearButtonText' | translate}}</button>

    </div>

</form>