<div class="trade-tile">

    <!-- Stock data -->

    <div class="trade-tile__stock-data">

        <div class="trade-tile-stock-header-container">

            <div class="trade-tile-stock-header-wrapper">

                <div class="trade-triangle trade-triangle--green-big"></div>

                <p class="trade-tile-stock-percentage-change-text 
                trade-tile-stock-percentage-change-text--color-green">
                    2500%</p>

            </div>

            <h2 class="trade-tile-stock-name-text trade-tile-header-margin-left">JSW</h2>

            <div class="trade-tile-stock-header-button-wrapper">
                <button class="btn trade-tile-header-margin-left">
                    <svg class="icon icon--pencil"></svg>
                </button>

                <button class="btn trade-tile-header-margin-left">
                    <svg class="icon icon--close"></svg>
                </button>
            </div>

        </div>

        <div class="trade-tile-stock-header-container">
            <div class="trade-tile-stock-header-wrapper">
                <p class="trade-tile-stock-text">Buy price</p>
                <p class="trade-tile-stock-text trade-tile-stock-text--ld">100000000</p>
            </div>

            <div class="trade-tile-stock-header-wrapper">
                <p class="trade-tile-stock-text">Buy Value</p>
                <p class="trade-tile-stock-text trade-tile-stock-text--ld">100000000</p>
            </div>

            <div class="trade-tile-stock-header-wrapper">
                <p class="trade-tile-stock-text">Quantity</p>
                <p class="trade-tile-stock-text trade-tile-stock-text--ld">100000000</p>
            </div>
        </div>

        <div class="trade-tile-stock-header-container">
            <div class="trade-tile-stock-header-wrapper">
                <p class="trade-tile-stock-text">Cur.Price</p>
                <p class="trade-tile-stock-text trade-tile-stock-text--ld">100000000</p>
            </div>

            <div class="trade-tile-stock-header-wrapper">
                <p class="trade-tile-stock-text">Cur. Value</p>
                <p class="trade-tile-stock-text trade-tile-stock-text--ld">100000000</p>
            </div>

            <div class="trade-tile-stock-header-wrapper">
                <p class="trade-tile-stock-text">Bef.tax</p>
                <p class="trade-tile-stock-text trade-tile-stock-text--ld">100000000</p>
            </div>

            <div class="trade-tile-stock-header-wrapper">
                <p class="trade-tile-stock-text">Aft.tax</p>
                <p class="trade-tile-stock-text trade-tile-stock-text--ld">100000000</p>
            </div>
        </div>

    </div>

    <!-- Positive share price  -->

    <ul class="trade-tile__positive-stock-change">
        <li class="trade-tile-stock-change-container">
            <div class="trade-tile-stock-change-wrapper">
                <div class="trade-triangle trade-triangle--green-small"></div>
                <p class="trade-tile-stock-text trade-tile-stock-text--xld stock-offer-change-margin-left">+{{0.50}}%
                </p>
                <p class="trade-tile-stock-text trade-tile-stock-text--xld stock-offer-change-margin-left">42.40</p>
                <p class="trade-tile-stock-text trade-tile-stock-text--xld stock-offer-change-margin-left">{{67.44}}$
                </p>
            </div>
            <input type="radio">
        </li>
    </ul>

    <!-- Neutral share price  -->

    <div class="trade-tile__neutral-stock-change">
        <div class="trade-tile-stock-change-container">
            <div class="trade-tile-stock-change-wrapper">
                <p class="trade-tile-stock-text trade-tile-stock-text--xld stock-offer-change-margin-left">+{{0.50}}%
                </p>
                <p class="trade-tile-stock-text trade-tile-stock-text--xld stock-offer-change-margin-left">42.40</p>
                <p class="trade-tile-stock-text trade-tile-stock-text--xld stock-offer-change-margin-left">{{67.44}}$
                </p>
            </div>
            <input type="radio">
        </div>
    </div>

    <!-- Negative share price  -->

    <ul class="trade-tile__negative-stock-change">
        <li class="trade-tile-stock-change-container" >
            <div class="trade-tile-stock-change-wrapper">
                <div class="trade-triangle trade-triangle--red-small"></div>
                <p class="trade-tile-stock-text trade-tile-stock-text--xld stock-offer-change-margin-left">-{{0.50}}%
                </p>
                <p class="trade-tile-stock-text trade-tile-stock-text--xld stock-offer-change-margin-left">42.40</p>
                <p class="trade-tile-stock-text trade-tile-stock-text--xld stock-offer-change-margin-left">-{{67.44}}
                </p>
            </div>
            <input type="radio">
        </li>
    </ul>

    <!-- Btn container  -->

    <div class="trade-tile__button-container">
        <button>Sell</button>
    </div>

</div>