<div class="trade-tile">

    <!-- Stock data -->

    <div class="trade-tile__stock-data">

        <div class="trade-tile-stock-header-container">

            <div class="trade-tile-stock-header-wrapper">
                <div class="trade-triangle trade-triangle--green"></div>
                <p class="trade-tile-stock-percentage-change-text trade-tile-stock-percentage-change-text--color-green">2500%</p>
            </div>

            <h2 class="trade-tile-stock-name-text trade-tile-header-margin-left">JSW</h2>

            <button class="btn trade-tile-header-margin-left">
                <svg class="icon icon--pencil"></svg> 
            </button>
        </div>

        <button class="btn">
            <svg class="icon icon--close"></svg> 
        </button>
    </div>

    <!-- Positive share price  -->

    <div class="trade-tile__positive-stock-change"></div>

    <!-- Neutral share price  -->

    <div class="trade-tile__neutral-stock-change"></div>

    <!-- Negative share price  -->

    <div class="trade-tile__negative-stock-change"></div>

    <!-- Btn container  -->

    <div class="trade-tile__button-container"></div>

</div>