<div class="trade-tile">

    <!-- Stock data -->

    <app-tile-header 
        (editTile)="onEditTile($event)"
        (deleteTile)="onDeleteTile($event)"
        [stockElement]="getStockElement"
        [headerCalculations]="getHeaderCalculations"
    >
    </app-tile-header>

    <!-- Positive share price  -->

    <ul class="trade-tile__positive-stock-change" (click)="onClickedList($event,tradeTileOffers.Profit)" >

        <cdk-virtual-scroll-viewport 
        itemSize="28" 
        class="example-viewport"
        (scrolledIndexChange)="scrollHandler($event)">

            <app-one-offer-change 
                *cdkVirtualFor="let profitQuote of getProfitQuotes | keyvalue: orderbyValueDsc"
                [profitQuote] ="profitQuote.value"
                [keyId] = "profitQuote.key"
            >           
            </app-one-offer-change>

        </cdk-virtual-scroll-viewport> 
    
    </ul>

    <!-- Neutral share price  -->

    <ul class="trade-tile__neutral-stock-change" (click)="onClickedList($event,tradeTileOffers.Neutral)">

        <app-neutral-offer [neutralQuote]="getNeutralQuote"></app-neutral-offer>

    </ul>

    <!-- Negative share price  -->

    <ul class="trade-tile__negative-stock-change" (click)="onClickedList($event, tradeTileOffers.Lose)">

        <cdk-virtual-scroll-viewport itemSize="28" class="example-viewport">

            <app-one-offer-loose 
                *cdkVirtualFor="let loseQuote of getLoseQuotes | keyvalue: unsorted"
                [loseQuote] ="loseQuote.value"
                [keyId] = "loseQuote.key"
            >           
            </app-one-offer-loose>

        </cdk-virtual-scroll-viewport>

    </ul>

    <!-- Btn container  -->

    <div class="trade-tile__button-container">
        <button 
            class="trade-board__button-postion"
            color="primary"
            mat-raised-button
        >
           Sell
        </button>
    </div>

</div>