html {

  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(xlg) {
    // width < 1400px ? 1rem = 10px, 10/16 = 75%
    font-size: 62.5%;
  }

  @include respond(lg) {
    // width < 1200px ? 1rem = 9px, 9/16 = 56.25%
    font-size: 56.25%;
  }

  @include respond(md) {
    // width < 992px ? 1rem = 8px, 8/16 = 50%
    font-size: 50%;
  }

  @include respond(sm) {
    // width < 768px ? 1rem = 7px, 7/16 = 43.7%
    font-size: 43.7%;
  }

  @include respond(xs) {
    // width < 360px ? 1rem = 6px, 6/16 = 43.75%
    font-size: 37.5%;
  }

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  scrollbar-width: none;   
  /* Hide scrollbars */ 
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  position: relative;
  font-family: 'Roboto', sans-serif;;
  font-size: 1.6rem; 
  background-color: var(--color-page-background);
 
  box-sizing: border-box;
  scrollbar-width: none; 
  overflow: hidden;
  /* Hide scrollbars */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}



