.text-rotate-left {

  transition: all 0.3s ease-in;

  &:hover {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  @include respond(tab-land) {
    pointer-events: none;
  }
}

.text-rotate-right {

  transition: all 0.3s ease-in;

  &:hover {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  @include respond(tab-land) {
    pointer-events: none;
  }
}
