.nav-bar-tag,
.sidenav-link {
  color: var(--color-text-nav);
  font-size: $font-size-navbar-xxld;
  font-weight: 500;
  cursor: pointer;

  @include respond(xld) {
    font-size: $font-size-navbar-xld;
  }
}

.nav-bar-text {
  font-size: $font-size-navbar-xxld;
  letter-spacing: 2px;

  @include respond(xld) {
    font-size: $font-size-navbar-xld;
  }
}

.sidenav-header {
  color: var(--color-text-nav);
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 4px;
}

.main-header-h1 {
  color: $color-java;
  font-size: $font-size-header-main-xxld;

  @include respond(xld) {
    font-size: $font-size-header-main-xld;
  }

  @include respond(ld) {
    font-size: $font-size-header-main-ld;
  }

  span {
    color: var(--color-text-stroke-1);
    font-size: $font-size-header-main-xxld;

    @include respond(xld) {
      font-size: $font-size-header-main-xld;
    }

    @include respond(ld) {
      font-size: $font-size-header-main-ld;
    }
  }
}

.home {
  .home-grid-1-header {
    color: $color-white;
    font-size: 8.2rem;
    font-weight: 400;
    letter-spacing: 1rem;

    @include respond(ld) {
      font-size: 7rem;
    }

    @include respond(xs) {
      font-size: 5.5rem;
    }
  }

  .home-grid-2-header {
    color: $color-white;
    font-size: 5.5rem;
    font-weight: 400;

    @include respond(ld) {
      font-size: 5rem;
    }
  }

  .home-grid-3-header {
    color: $color-white;
    font-size: 3.5rem;
    font-weight: 400;

    @include respond(sm) {
      text-align: right;
    }

  }

  .home-grid-text {
    color: $color-white;
    font-size: $font-size-home-text;
    line-height: 1.8rem;
  }

  .home-date-text,
  .home-time-text,
  .home-day-text {
    color: $color-white;
    font-size: 3rem;
    font-weight: 500;
  }

  .home-date-text {
    font-size: 1.8rem;
  }

  .home-time-text {
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 4px;
  }
}
