.calculator-result-board-text {
  font-size: 1.6rem;
  color: $color-white;

  &--bold {
    font-weight: 700;
  }
}

// Make and header sizes

.nav-bar-link,
.sidenav-link {
  color: var(--color-text-nav);
  cursor: pointer;
  text-decoration: none;
}

.nav-bar-text {
  color: var(--color-text-nav);
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 2px;

  @include respond(xld) {
    font-size: 1.4rem;
    font-weight: 400;
  }

  @include respond(md) {
    font-size: 12px;
    ;
  }
}

.sidenav-header {
  color: var(--color-text-nav);
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 4px;
}
.calculator-header,
.statistics-header,
.currency-header {
  color: var(--color-text-prime);
  font-weight: 500;
  text-align: center;
  font-size: 2.3rem;
}

.statistics-header {
  &--color-red {
    color: $color-red;
  }

  &--color-blue {
    color: $color-dodger-blue;
  }
}

.currency-calc-text {
  color: var(--color-text-prime);
  // font-family: monospace;

  &--bold {
    font-weight: 500;
  }

  &--small {
    font-size: 1.2rem;
  }
}

.main-header-h1 {
  color: $color-java;
  font-size: 4.5rem;

  @include respond(xld) {
    font-size: 3.3rem;
  }

  @include respond(ld) {
    font-size: 2.8rem;
  }

  @include respond(ms) {
    font-size: 4rem;
  }

  span {
    color: var(--color-text-prime);
    font-size: 4.5rem;

    @include respond(xld) {
      font-size: 3.3rem;
    }

    @include respond(ld) {
      font-size: 2.8rem;
    }

    @include respond(ms) {
      font-size: 4rem;
    }
  }
}

.home {
  .home-grid-1-header {
    color: $color-white;
    font-size: 8.2rem;
    font-weight: 400;
    letter-spacing: 1rem;

    @include respond(ld) {
      font-size: 7rem;
    }

    @include respond(xs) {
      font-size: 5.5rem;
    }
  }

  .home-grid-2-header {
    color: $color-white;
    font-size: 5.5rem;
    font-weight: 400;

    @include respond(ld) {
      font-size: 5rem;
    }
  }

  .home-grid-3-header {
    color: $color-white;
    font-size: 3.5rem;
    font-weight: 400;

    @include respond(sm) {
      text-align: right;
    }
  }

  .home-grid-text {
    color: $color-white;
    font-size: $font-size-home-text;
    line-height: 1.8rem;
  }

  .home-date-text,
  .home-time-text,
  .home-day-text {
    color: $color-white;
    font-size: 3rem;
    font-weight: 500;
  }

  .home-date-text {
    font-size: 1.8rem;
  }

  .home-time-text {
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 4px;
  }
}

// Trade tile 
.trade-tile-stock-percentage-change-text {
  font-size: 1.8rem;
  font-weight: 500;

  &--color-green {
    color: $color-green;
  }

  &--color-red {
    color: $color-red;
  }

  &--size-big {
    font-size: 3rem;
  }
}

.trade-tile-stock-name-text {
  color: var(--color-text-prime);
  max-width: 13ch;
  overflow: hidden;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 2.3rem;
}

.trade-tile-stock-text {
  color: var(--color-text-prime);
  font-size: 1.2rem;
  text-align: center;

  &--ld {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 8ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--xld {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 10ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
  }

  &--red {

    color: $color-red;
    font-weight: 500;
  }

  &--green {
    color: $color-green;
    font-weight: 500;
  }
}

.footer-text {
  color: var(--color-text-prime);
  font-size: 1.3rem;
}

// Dialog

.modal-dialog-header-text {
  font-weight: 500;
  color: var(--color-text-form);
  text-align: center;
}

.modal-dialog-text {
  color: var(--color-text-form);
  text-align: center;
}
