<form class="stock-advanced-caculator__form">
    <h2 class="stock-advanced-caculator-stock-name">JSW</h2>

    <div class="stock-advanced-caculator-form-wrapper">

        <!-- Number of shares -->

        <mat-form-field>
            <mat-label>* Buy price </mat-label>
            <input matInput type="number" formControlName="amountOfShares">
        </mat-form-field>

        <mat-form-field>
            <mat-label>* Number of shares </mat-label>
            <input matInput type="number" formControlName="amountOfShares">
        </mat-form-field>

    </div>

    <div class="stock-advanced-caculator-form-wrapper">

        <mat-form-field>
            <mat-label> Tax rate </mat-label>
            <input matInput type="number" formControlName="amountOfShares">
        </mat-form-field>

        <mat-form-field>
            <mat-label>* Commission</mat-label>
            <input matInput type="number" formControlName="amountOfShares">
        </mat-form-field>

        <mat-form-field>
            <mat-label>* Min. Commission</mat-label>
            <input matInput type="number" formControlName="amountOfShares">
        </mat-form-field>
    </div>

</form>