<form class="stock-advanced-calculator__form" [formGroup]="getCalculatorForm" (submit)="onCalculate()">

    <div class="stock-advanced-calculator-form-wrapper">

        <!-- Buy price -->

        <mat-form-field id="stock-advanced-calculator-form-field">

            <mat-label> {{'calculator.calculatorFormBuyPrice' | translate}} </mat-label>

            <input matInput type="number" formControlName="buyPrice">

            <mat-error *ngIf="buyPrice.touched && !(buyPrice.hasError('pattern'))">

                {{'calculator.calculatorResultFormWarning_1' | translate}}

            </mat-error>

            <mat-error *ngIf="buyPrice.hasError('pattern')">

                {{'calculator.calculatorResultFormWarning_2' | translate}}

            </mat-error>

        </mat-form-field>

        <!-- Number Of shares -->

        <mat-form-field id="stock-advanced-calculator-form-field">

            <mat-label>{{'calculator.calculatorFormQuantity' | translate}} </mat-label>

            <input matInput type="number" formControlName="amountOfShares">

            <mat-error *ngIf="amountOfShares.touched && !(amountOfShares.hasError('pattern'))">

                {{'calculator.calculatorResultFormWarning_1' | translate}}

            </mat-error>

            <mat-error *ngIf="amountOfShares.hasError('pattern')">

                {{'calculator.calculatorResultFormWarning_3' | translate}}
                
            </mat-error>

        </mat-form-field>

        <!-- Sell price -->

        <mat-form-field id="stock-advanced-calculator-form-field">

            <mat-label>{{'calculator.calculatorFormSellPrice' | translate}}</mat-label>

            <input matInput type="number" formControlName="sellPrice">

            <mat-error *ngIf="sellPrice.touched && !(sellPrice.hasError('pattern'))">

                {{'calculator.calculatorResultFormWarning_1' | translate}}

            </mat-error>

            <mat-error *ngIf="sellPrice.hasError('pattern')">

                {{'calculator.calculatorResultFormWarning_2' | translate}}
                
            </mat-error>


        </mat-form-field>

    </div>

    <div class="stock-advanced-calculator-form-wrapper">

        <!-- Tax rate -->

        <mat-form-field id="stock-advanced-calculator-form-field">

            <mat-label>{{'calculator.calculatorFormTaxRate' | translate}} </mat-label>

            <input matInput type="number" formControlName="taxRate">

            <mat-error *ngIf="taxRate.touched && !(taxRate.hasError('pattern'))">

                {{'calculator.calculatorResultFormWarning_1' | translate}}

            </mat-error>

            <mat-error *ngIf="taxRate.hasError('pattern')">

                {{'calculator.calculatorResultFormWarning_2' | translate}}
                
            </mat-error>

        </mat-form-field>

        <!-- Commission -->

        <mat-form-field id="stock-advanced-calculator-form-field">

            <mat-label>{{'calculator.calculatorFormCommission' | translate}}</mat-label>

            <input matInput type="number" formControlName="commission">

            <mat-error *ngIf="commission.touched && !(commission.hasError('pattern'))">

                {{'calculator.calculatorResultFormWarning_1' | translate}}

            </mat-error>

            <mat-error *ngIf="commission.hasError('pattern')">

                {{'calculator.calculatorResultFormWarning_2' | translate}}
                
            </mat-error>

        </mat-form-field>

        <!--Min. Commission -->

        <mat-form-field id="stock-advanced-calculator-form-field">

            <mat-label>{{'calculator.calculatorFormMinCommission' | translate}}</mat-label>

            <input matInput type="number" formControlName="minCommission">

            <mat-error *ngIf="minCommission.touched && !(minCommission.hasError('pattern'))">

                {{'calculator.calculatorResultFormWarning_1' | translate}}

            </mat-error>

            <mat-error *ngIf="minCommission.hasError('pattern')">

                {{'calculator.calculatorResultFormWarning_2' | translate}}
                
            </mat-error>


        </mat-form-field>

    </div>

    <div class="stock-advanced-calculator__button-wrapper">


        <!-- Clear button -->

        <button mat-raised-button (click)="onClearForm()">

            {{'calculator.calculatorFormButtonClear' | translate}}

        </button>

        <!-- Calculate button -->

        <button color="primary"
            mat-raised-button
            type="submit" 
            [disabled]="getCalculatorForm.invalid"
        >

            {{'calculator.calculatorFormButtonCalculate' | translate}}

        </button>
    </div>

</form>