<div class="currency-crypto-wrapper">

    <h1 class="currency__header currency-header">Live CryptoCurrency quotes </h1>

    <div class="currency-offer-wrapper">

        <img src="./../../assets/icon/Icon awesome-btc.svg" class="currency-flag-img" alt="bitcoin">

        <p class="currency-calc-text">1 BTC = {{40000}} USD</p>

    </div>

    <div class="currency-offer-wrapper">

        <img src="./../../assets/icon/Icon simple-ethereum.svg" class="currency-flag-img" alt="ethereum">

        <p class="currency-calc-text">1 ETH = {{1500}} USD</p>

    </div>

</div>