<div class="currency-crypto-wrapper">

    <h1 class="currency__header currency-header">Live CryptoCurrency quotes </h1>

    <div class="currency-offer-wrapper">

        <ng-container *ngIf="themeState; else darkImage">
            <img             
                src="./../../assets/icon/Icon awesome-btc-white.svg"
                class="currency-flag-img"
                alt="bitcoin"
            >
        </ng-container>
        
        <ng-template #darkImage>
            <img             
            src="./../../assets/icon/Icon awesome-btc-black.svg"
            class="currency-flag-img"
            alt="bitcoin"
            >
        </ng-template>


        <p class="currency-calc-text">1 BTC = {{40000}} USD</p>

    </div>

    <div class="currency-offer-wrapper">

        <ng-container *ngIf="themeState; else darkImage">
            <img             
                src="./../../assets/icon/Icon simple-ethereum-white.svg"
                class="currency-flag-img"
                alt="ether"
            >
        </ng-container>
        
        <ng-template #darkImage>
            <img             
            src="./../../assets/icon/Icon simple-ethereum-black.svg"
            class="currency-flag-img"
            alt="ether"
            >
        </ng-template>

        <p class="currency-calc-text">1 ETH = {{1500}} USD</p>

    </div>

</div>