

    <h2 class="currency__header currency-header">{{ 'currency.cryptoCurrencyHeader'| translate}}</h2>

    <div class="currency-offer-wrapper">
        
        <ng-container *ngIf="themeState; else darkBitImage">
            <img             
                src="./../../assets/icon/Icon awesome-btc-white.svg"
                class="currency-flag-img"
                alt="bitcoin"
            >
        </ng-container>
        
        <ng-template #darkBitImage>
            <img             
            src="./../../assets/icon/Icon awesome-btc-black.svg"
            class="currency-flag-img"
            alt="bitcoin"
            >
        </ng-template>      

        <div class="offer-currency-width">

            <p class="currency-calc-text">
                1
                <span class="currency-calc-text currency-calc-text--bold">BTC</span>                      
            </p>

        </div>

        <p class="currency-calc-text offer-margin-right">
           =             
        </p>

        <p class="currency-calc-text">
            {{bitCoinPriceData | number:'1.3-3'}} USD
         
        </p>      

    </div>

    <div class="currency-offer-wrapper">

        <ng-container *ngIf="themeState; else darkEthImage">
            <img             
                src="./../../assets/icon/Icon simple-ethereum-white.svg"
                class="currency-flag-img"
                alt="ether"
            >
        </ng-container>
        
        <ng-template #darkEthImage>
            <img             
            src="./../../assets/icon/Icon simple-ethereum-black.svg"
            class="currency-flag-img"
            alt="ether"
            >
        </ng-template>

        <div class="offer-currency-width">

            <p class="currency-calc-text">
                1
                <span class="currency-calc-text currency-calc-text--bold">ETH</span>                      
            </p>

        </div>

        <p class="currency-calc-text offer-margin-right">
           =             
        </p>

        <p class="currency-calc-text">
            {{ethereumPriceData | number:'1.3-3'}} USD         
        </p>      

    </div>

