<div class="main">

    <header>
        
        <div class="header">
           <img class="header-icon" src="./assets/icon/stock-chart-1.svg">
            <h1 class="main-header">Stock <span class="mian-header--span">Helper</span></h1>
        </div>

        <nav class=nav-bar>
            <ul>
                <li>
                    <a class="">Home</a>
                </li>

                <li>
                    <a class="">Trade sheets</a>
                </li>

                <li>
                    <a class="">Calculator</a>
                </li>

                <li>
                    <a class="">Currency exchange</a>
                </li>
                <li>
                    <a class="">Statistics</a>
                </li>

            </ul>
        </nav>
    </header>

    <main class="mian-container">
        <article>
            <router-outlet></router-outlet>
        </article>
    </main>

    <footer>

    </footer>

</div>