<div class="main">

    <header class="header">
        
        <div class="header-main">
           <img class="header-icon" src="./assets/icon/stock-chart-1.svg">
            <h1 class="main-header-h1">Stock <span class="mian-header--span">Helper</span></h1>
        </div>

        <nav class="nav-bar">
            <ul class="nav-bar__list">

                <li class="nav-list-item">                   
                    <a class="nav-bar-tag">
                        <img  class="nav-icon" src="./assets/icon/Icon awesome-home.svg" alt="icon">
                        Home
                    </a>
                </li>

                <li class="nav-list-item">                    
                    <a class="nav-bar-tag">
                        <img  class="nav-icon" src="./assets/icon/Icon ionic-ios-list-box.svg" alt="icon">
                        Trade
                    </a>
                </li>

                <li class="nav-list-item">
                    <a class="nav-bar-tag">
                        <img  class="nav-icon" src="./assets/icon/Icon awesome-calculator.svg" alt="icon">
                        Calculator
                    </a>
                </li>

                <li class="nav-list-item">                    
                    <a class="nav-bar-tag">
                        <img  class="nav-icon" src="./assets/icon/Icon awesome-money-bill-alt.svg" alt="icon">
                        Currency
                    </a>
                </li>

                <li class="nav-list-item">                    
                    <a class="nav-bar-tag">
                        <img  class="nav-icon" src="./assets/icon/Icon metro-chart-dots.svg" alt="icon">
                        Statistics
                    </a>
                </li>

            </ul>
        </nav>
    </header>

    <main class="mian-container">

      
            <router-outlet></router-outlet>
      
        
    </main>

    <footer class="footer">
        <p>Stock Helper</p>
    </footer>

</div>