<div class="main">

    <header class="header">
        
        <div class="header-main">
           <img class="header-icon" src="./assets/icon/stock-chart-1.svg">
            <h1 class="main-header-h1">Stock <span class="mian-header--span">Helper</span></h1>
        </div>

        <nav class="nav-bar">
            <ul class="nav-bar__list">

                <li class="nav-list-item">
                    <img  class="nav-icon" src="" alt="icon">
                    <a class="nav-bar-tag">Home</a>
                </li>

                <li class="nav-list-item">
                    <img  class="nav-icon" src="" alt="icon">
                    <a class="nav-bar-tag">Trade sheets</a>
                </li>

                <li class="nav-list-item">
                    <img  class="nav-icon" src="" alt="icon">
                    <a class="nav-bar-tag">Calculator</a>
                </li>

                <li class="nav-list-item"> 
                    <img  class="nav-icon" src="" alt="icon">
                    <a class="nav-bar-tag">Currency exchange</a>
                </li>

                <li class="nav-list-item">
                    <img  class="nav-icon" src="" alt="icon">
                    <a class="nav-bar-tag">Statistics</a>
                </li>

            </ul>
        </nav>
    </header>

    <main class="mian-container">
        <article>
            <router-outlet></router-outlet>
        </article>
    </main>

    <footer class="footer">
        <p>Stock Helper</p>
    </footer>

</div>