<h1 class="currency__header currency-header">Currency quotes </h1>

<div class="currency-wrapper-wrap">

    <div class="currency-offer-wrapper">

        <img src="./../../assets/svg flags/united-states.svg" class="currency-flag-img" alt="">
        <p>1 USD = {{3.56}} {{'PLN'}} </p>

    </div>

    <div class="currency-offer-wrapper">

        <img src="./../../assets/svg flags/european-union.svg" class="currency-flag-img" alt="">
        <p>1 USD = {{3.56}} {{'PLN'}} </p>

    </div>

    <div class="currency-offer-wrapper">

        <img src="./../../assets/svg flags/united-kingdom.svg" class="currency-flag-img" alt="">
        <p>1 USD = {{3.56}} {{'PLN'}} </p>

    </div>

    <div class="currency-offer-wrapper">

        <img src="./../../assets/svg flags/united-kingdom.svg" class="currency-flag-img" alt="">
        <p>1 USD = {{3.56}} {{'PLN'}} </p>

    </div>


    <div class="currency-offer-wrapper">

        <img src="./../../assets/svg flags/united-kingdom.svg" class="currency-flag-img" alt="">
        <p>1 USD = {{3.56}} {{'PLN'}} </p>

    </div>


    <div class="currency-offer-wrapper">

        <img src="./../../assets/svg flags/united-kingdom.svg" class="currency-flag-img" alt="">
        <p>1 USD = {{3.56}} {{'PLN'}} </p>

    </div>


    <div class="currency-offer-wrapper">

        <img src="./../../assets/svg flags/united-kingdom.svg" class="currency-flag-img" alt="">
        <p>1 USD = {{3.56}} {{'PLN'}} </p>

    </div>


    <div class="currency-offer-wrapper">

        <img src="./../../assets/svg flags/united-kingdom.svg" class="currency-flag-img" alt="">
        <p>1 USD = {{3.56}} {{'PLN'}} </p>

    </div>    

    <div class="currency-offer-wrapper">

        <img src="./../../assets/svg flags/united-kingdom.svg" class="currency-flag-img" alt="">
        <p>1 USD = {{3.56}} {{'PLN'}} </p>

    </div>  

    <div class="currency-offer-wrapper">

        <img src="./../../assets/svg flags/united-kingdom.svg" class="currency-flag-img" alt="">
        <p>1 USD = {{3.56}} {{'PLN'}} </p>

    </div>  

</div>