

    <h2 class="currency__header currency-header">{{ 'currency.foreignCurrencyHeader'| translate}}</h2>

    <div class="currency-offer-overflow-wrapper">

        <div class="currency-offer-wrapper" *ngFor="let currency Of currenciesList">

            <div class="currency-offer-wrapper">

                <img src={{currency.imgUrl}} class="currency-flag-img" alt="">

                <div class="offer-currency-width">

                    <p class="currency-calc-text">
                        1
                        <span class="currency-calc-text currency-calc-text--bold">{{currency.value}}</span>                      
                    </p>

                </div>

                <p class="currency-calc-text offer-margin-right">
                   =             
                </p>

                <p class="currency-calc-text currency-calc-result-width">

                    {{1 / currencyData?.rates[currency.value] | number:'1.3-3'}}                  

                </p>

                <p class="currency-calc-text">
                    
                    {{currencyData?.base}}

                </p>

            </div>

        </div>
   
        <footer class="currency-calc-text currency-calc-footer currency-calc-text--small">
            Icons made by
            <a href="https://www.freepik.com" title="Freepik">
                Freepik
            </a>
            from
            <a href="https://www.flaticon.com/" title="Flaticon">
                www.flaticon.com
            </a>
        </footer>

    </div>

