<div class="currency-exchange-wrapper">

    <h1 class="currency__header currency-header">Currency quotes </h1>

    <div class="currency-offer-overflow-wrapper">

        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/united-states.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">
                1 <span class="currency-calc-text currency-calc-text--bold">USD</span> = {{3.56}} {{'PLN'}}
            </p>

        </div>

        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/european-union.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">
                1 <span class="currency-calc-text currency-calc-text--bold">EUR</span> = {{3.56}} {{'PLN'}} </p>

        </div>

        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/united-kingdom.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 GBP = {{3.56}} {{'PLN'}} </p>

        </div>

        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/india.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 RUP = {{3.56}} {{'PLN'}} </p>

        </div>


        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/japan.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 JPY = {{3.56}} {{'PLN'}} </p>

        </div>


        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/poland.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 PLN = {{3.56}} {{'PLN'}} </p>

        </div>


        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/russia.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 RUB = {{3.56}} {{'PLN'}} </p>

        </div>


        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/south-korea.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 USD = {{3.56}} {{'PLN'}} </p>

        </div>

        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/sweden.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 SEK = {{3.56}} {{'PLN'}} </p>

        </div>

        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/canada.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 CAD = {{3.56}} {{'PLN'}} </p>

        </div>

        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/china.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 CNY = {{3.56}} {{'PLN'}} </p>

        </div>


        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/denmark.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 DDK = {{3.56}} {{'PLN'}} </p>

        </div>

        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/switzerland.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 CHF = {{3.56}} {{'PLN'}} </p>

        </div>

        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/ukraine.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 UKC = {{3.56}} {{'PLN'}} </p>

        </div>

        <div class="currency-offer-wrapper">

            <img src="./../../assets/svg flags/czech-republic.svg" class="currency-flag-img" alt="">
            <p class="currency-calc-text">1 CZK = {{3.56}} {{'PLN'}} </p>

        </div>

        <div class="currency-calc-text">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

    </div>

</div>