<article class="home">

    <div class="home__container">

        <div class="home-grid-1">
            <img src="./assets/icon/Icon metro-chart-line.svg" alt="image-1" class="home-grid-img-1">
            <h1 class="home-grid-1-header">Money</h1>
        </div>

        <div class="home-grid-2">
            <div class="home-grid-2-wrapper">
                <img src="./assets/icon/Icon metro-chart-bars2.svg" alt="image-2" class="home-grid-img-2">
                <h2 class="home-grid-2-header">Strategy</h2>
            </div>

            <p class="home-grid-text home-grid-3-text-position">
                <cite> “The biggest risk is not taking any risk. in a world that’s changing really quickly, the
                    only strategy that is guaranteed to fail is not taking risks.”
                </cite>
            </p>
            <br>
            <p class="home-grid-text home-grid-3-text-position">- Mark Zuckerberg</p>

        </div>

        <div class="home-grid-3">
            <img src="./assets/icon/Icon awesome-chart-pie.svg" alt="image-3" class="home-grid-img-3">

            <div class="home-grid-3-wrapper">
                <div class="container-width">

                    <h3 class="home-grid-3-header home-grid-3-header-margin">Knowledge</h3>

                    <p class="home-grid-text home-grid-3-text-position">
                        <cite> “We can have all the knowledge in the world, but it means nothing without the wisdom to know what to do with it.”
                        </cite>
                    </p>

                    <br>

                    <p class="home-grid-text home-grid-3-text-position">- Marie Osmond</p>

                </div>
            </div>
        </div>

    </div>
</article>