<section class="home">

    <div class="home__container">

        <!-- Grid 1 -->       

        <article class="home-grid-1">
            <img src="./assets/icon/Icon metro-chart-line.svg" alt="image-1" class="home-grid-img-1">
            <h1 class="home-grid-1-header">{{'home.gridComponentOneHeader' | translate }}</h1>
        </article>

        <!-- Grid 2 -->

        <article class="home-grid-2">
            <div class="home-grid-2-wrapper">
                <img src="./assets/icon/Icon metro-chart-bars2.svg" alt="image-2" class="home-grid-img-2">
                <h2 class="home-grid-2-header">{{'home.gridComponentTwoHeader' | translate }}</h2>
            </div>

            <p class="home-grid-text home-grid-3-text-position">
                <cite> {{'home.gridComponentTwoText' | translate }}
                </cite>
            </p>
            <br>
            <p class="home-grid-text home-grid-3-text-position">{{'home.gridComponentTwoAuthor' | translate }}</p>

        </article>

        <!-- Grid 3 -->

        <article class="home-grid-3">
            <img src="./assets/icon/Icon awesome-chart-pie.svg" alt="image-3" class="home-grid-img-3">

            <div class="home-grid-3-wrapper">
                <div class="container-width">

                    <h3 class="home-grid-3-header home-grid-3-header-margin">{{'home.gridComponentThreeHeader' |
                        translate }}</h3>

                    <p class="home-grid-text home-grid-3-text-position">
                        <cite> {{'home.gridComponentThreeText' | translate }}
                        </cite>
                    </p>

                    <br>

                    <p class="home-grid-text home-grid-3-text-position">{{'home.gridComponentThreeAuthor' | translate }}
                    </p>

                </div>

                <app-date-time></app-date-time>

            </div>
        </article>

    </div>
</section>