<article class="home">

    <div class="home__container">

        <div class="home-grid-1">
            <img src="./assets/icon/Icon metro-chart-line.svg" alt="image-1" class="home-grid-img-1">
            <h1 class="home-grid-header-1">Money</h1>
        </div>

        <div class="home-grid-2">
            <div>
                <img src="./assets/icon/Icon metro-chart-bars2.svg" alt="image-2" class="home-grid-img-2">
                <h2 class="home-grid-header-2">Strategy</h2>
            </div>
            <p class="home-grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum a risus sit amet ornare. Nunc aliquet bibendum aliquam. Suspendisse pretium facilisis lao</p>
        </div>

        <div class="home-grid-3">
            <img src="./assets/icon/Icon awesome-chart-pie.svg" alt="image-3" class="home-grid-img-3">
            <div>
                <h3 class="home-grid-header-3">Knowledge</h3>
                <p class="home-grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum a risus sit amet ornare. Nunc aliquet bibendum aliquam. Suspendisse pretium facilisis lao</p>
            </div>
        </div>

    </div>

    <!-- <img src="./assets/img/dot-back.png" alt="" class="home__image"> -->

</article>