<header class="header">

    <div class="header-main">
        <svg class="icon icon--header-main header-icon-margin-right"></svg>
        <h1 class="main-header-h1">Stock <span class="mian-header--span">Helper</span></h1>
    </div>

    <nav class="nav-bar">

        <!-- Home -->

        <ul class="nav-bar__list">

            <li class="nav-list-item">
                <a class="nav-bar-link" (click)="onRedirectTo('/home')" routerLinkActive="router-link-active">
                    <svg class="icon icon--home"></svg>
                    <p class="nav-bar-text nav-bar-text-margin-left ">{{'home.navBarHome' | translate }}</p>
                </a>
            </li>

            <!-- Trades -->

            <li class="nav-list-item">
                <a class="nav-bar-link" (click)="onRedirectTo('/trade')" routerLinkActive="router-link-active">
                    <svg class="icon icon--plan"></svg>
                    <p class="nav-bar-text nav-bar-text-margin-left ">{{'home.navBarTrade' | translate }}</p>
                </a>
            </li>

            <!-- Calculator -->

            <li class="nav-list-item">
                <a class="nav-bar-link" (click)="onRedirectTo('/calculator')" routerLinkActive="router-link-active">
                    <svg class="icon icon--calculator"></svg>
                    <p class="nav-bar-text nav-bar-text-margin-left ">{{'home.navBarCalculator' | translate }}</p>
                </a>
            </li>

            <!-- Currency -->

            <li class="nav-list-item">
                <a class="nav-bar-link" (click)="onRedirectTo('/currency')" routerLinkActive="router-link-active">
                    <svg class="icon icon--money"></svg>
                    <p class="nav-bar-text nav-bar-text-margin-left ">{{'home.navBarCurrency' | translate }}</p>
                </a>
            </li>

            <!-- Statistics -->

            <li class="nav-list-item">
                <a class="nav-bar-link" (click)="onRedirectTo('/statistics')" routerLinkActive="router-link-active">
                    <svg class="icon icon--chart"></svg>
                    <p class="nav-bar-text nav-bar-text-margin-left">{{'home.navBarStatistics' | translate }}</p>
                </a>
            </li>

            <!-- Calendar -->

            <li class="nav-list-item">
                <a class="nav-bar-link" (click)="onRedirectTo('/calendar')" routerLinkActive="router-link-active">
                    <svg class="icon icon--calendar"></svg>
                    <p class="nav-bar-text nav-bar-text-margin-left">{{'home.navBarCalendar' | translate }}</p>
                </a>
            </li>

        </ul>

    </nav>

    <button class="btn" (click)="onToggleSideNavBar()">
        <svg class="icon icon--menu"></svg>
    </button>

</header>