<header class="header">

    <a class="header-main" routerLink="home" routerLinkActive="router-link-active">

        <div class="header-icon-display">

            <svg class="icon icon--header-main header-icon-margin-right"></svg>

        </div>

        <h1 class="main-header-h1 main-header-h1--blue">

            Stock

            <span class="main-header-h1 main-header-h1--span">

                Helper

            </span>

        </h1>

    </a>

    <nav class="nav-bar">

        <button id="nav-menu-button" mat-raised-button color="primary" [matMenuTriggerFor]="menu">Menu</button>

        <mat-menu #menu="matMenu">

            <ul class="nav-bar__list">

                <!-- Home -->

                <li class="nav-list-item">

                    <a class="nav-bar-link" routerLink="/main/home" routerLinkActive="router-link-active">

                        <div class="nav-icon-wrapper">

                            <svg class="icon icon--home"></svg>

                        </div>

                        <p class="nav-bar-text nav-bar-text-margin-left ">{{'home.navBarHome' | translate }}</p>

                    </a>

                </li>

                <!-- Trades -->

                <li 
                    class="nav-list-item" 
                    appRoleDirective
                    accessType="navigate_trade_action"
                    moduleType="navigation"
                >

                    <a class="nav-bar-link" routerLink="/main/trade" routerLinkActive="router-link-active">

                        <div class="nav-icon-wrapper">

                            <svg class="icon icon--plan"></svg>

                        </div>

                        <p class="nav-bar-text nav-bar-text-margin-left ">{{'home.navBarTrade' | translate }}</p>

                    </a>

                </li>

                <!-- Calculator -->

                <li 
                    class="nav-list-item" 
                    appRoleDirective
                    accessType="navigate_calculator_action"
                    moduleType="navigation"
                >

                    <a class="nav-bar-link" routerLink="/main/calculator" routerLinkActive="router-link-active">

                        <div class="nav-icon-wrapper">

                            <svg class="icon icon--calculator"></svg>

                        </div>

                        <p class="nav-bar-text nav-bar-text-margin-left ">{{'home.navBarCalculator' | translate }}</p>

                    </a>

                </li>

                <!-- Currency -->

                <li 
                    class="nav-list-item" 
                    appRoleDirective
                    accessType="navigate_currency_action"
                    moduleType="navigation"
                >

                    <a class="nav-bar-link" routerLink="/main/currency" routerLinkActive="router-link-active">

                        <div class="nav-icon-wrapper">

                            <svg class="icon icon--money"></svg>

                        </div>

                        <p class="nav-bar-text nav-bar-text-margin-left ">{{'home.navBarCurrency' | translate }}</p>

                    </a>

                </li>

                <!-- Statistics -->

                <li 
                    class="nav-list-item" 
                    appRoleDirective
                    accessType="navigate_statistics_action"
                    moduleType="navigation"
                >

                    <a class="nav-bar-link" routerLink="/main/statistics" routerLinkActive="router-link-active">

                        <div class="nav-icon-wrapper">

                            <svg class="icon icon--chart"></svg>

                        </div>

                        <p class="nav-bar-text nav-bar-text-margin-left">{{'home.navBarStatistics' | translate }}</p>

                    </a>

                </li>

                <!-- Calendar -->

                <!--  
                <li 
                    class="nav-list-item" 
                    appRoleDirective
                    accessType="navigate_calendar_action"
                    moduleType="home"
                >

                    <a 
                        class="nav-bar-link"                    
                        routerLink="/main/calendar"
                        routerLinkActive="router-link-active"
                    >

                        <svg class="icon icon--calendar"></svg>
                        <p class="nav-bar-text nav-bar-text-margin-left">{{'home.navBarCalendar' | translate }}</p>

                </a>

            </li> -->

            </ul>

        </mat-menu>

        <div class="user-header-container">

            <div class="user-header-wrapper">

                <p 
                    class="user-nav-avatar-text "                  
                    matTooltip="{{getUser.firstName}}"                    
                >

                    {{getUser.firstName}}
                    
                </p>

                <img 
                    class="user-avatar-img"
                    matTooltip="{{getUser.firstName}}"
                    src="./assets/icon/profile-user-dark.svg"
                    alt="avatar"
                >

            </div>

            <button id="nav-logout-button" mat-raised-button (click)="logout()">Logout</button>

        </div>

        <button aria-label="menu" class="btn" (click)="onToggleSideNavBar()">
    
            <svg class="icon icon--menu"></svg>
    
            <svg class="icon icon--gear"></svg>
    
        </button>

    </nav>

</header>