<section class="calculator">

    <!-- Calculator form -->

    <article class="calculator__container">

        <app-calc-form 
            class="calculator-component-container"
            [calculationResults]="calculationResults"
            (outputFormData)="calculate($event)"
         >
        </app-calc-form>
        
    </article>

    <!-- Calculator device -->

    <article class="calculator__container calculator__container--margin-bottom">

        <!-- Result board -->

        <app-result-board 
            class="calculator-component-container" 
            [arrayOfResults]="arrayOfResults"
            (chosenResult)="onChoseResult($event)"
            (resetResultArray)="onResetBoardOfResults()"
        >
        </app-result-board>

        <!-- Calc device -->

        <app-calc-device 
            class="calculator-component-container"
            [chosenResult$]="chosenResult$"
            (resultArrayEmitter)="onSaveResultToArray($event)"
        >
        </app-calc-device>

    </article>

</section>