<section class="calcultor">

    <!-- Calculator form -->

    <article class="calcultor__container">

        <app-calc-form class="stock-advanced-calculator-form-container-width"></app-calc-form>
        
    </article>

    <!-- Calculator device -->

    <article class="calcultor__container">

        <!-- Result board -->

        <app-result-board class="calculator-result-board-width"></app-result-board>

        <!-- Calc device -->

        <app-calc-device></app-calc-device>

    </article>

</section>