<section class="calculator">

    <!-- Calculator form -->

    <article class="calculator__container">

        <app-calc-form 
            class="calculator-component-container"
            [calculationResults]="calculationResults"
            (outputFormData)="calculate($event)"
         >
        </app-calc-form>
        
    </article>

    <!-- Calculator device -->

    <article class="calculator__container calculator__container--margin-bottom">

        <!-- Result board -->

        <app-result-board class="calculator-component-container"></app-result-board>

        <!-- Calc device -->

        <app-calc-device class="calculator-component-container"></app-calc-device>

    </article>

</section>