.not-found-header-wrapper {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;

}

.not-found-img,
.not-found-header-wrapper {

  width: 30%;

  @include respond(sm) {

    width: 55%;

  }

}
