.main { 
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 12% 85% 3%; 
  margin: 0 5rem;

  @include respond(xld) {
    margin: 0 2rem;
  }

  @include respond(md) {
    grid-template-rows: 8% 89% 3%; 
  }

  @include respond(xs) {
    grid-template-rows: 6% 91% 3%; 
  }

  .mian-container {
    height: 100%;
    position: relative;
  } 
}
