.header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    // margin-right: 10rem;

    @include respond(xld) {
      margin-right: 1rem;
    }

    .header-icon-margin-right {
      margin-right: 2rem;

      @include respond(xld) {
        margin-right: 1rem;
      }
    }

    .header-icon-display {
      display: block;

      @include respond(xs) {
        display: none;
      }
    }
  }
}

.user-header-container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 20px;

  @include respond(md) {
    flex-direction: row;
    align-items: center;
    margin: 0 25px;
  }

  .user-header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;

    @include respond(md) {
      width: auto;
      margin-bottom: 0px;
    }
  }

  .user-avatar-img {
    width: 20px;
    height: 20px;
    margin-left: 10px;

    @include respond(md) {
      margin-right: 10px;
    }
  }
}
