.header {
    
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-main {
    display: flex;
    align-items: center;
    justify-content: center;

    .header-icon {
      margin-right: 2rem;
      width: 4rem;
    }
  }
}
