.main {

  display: grid;
  height: 100vh;
  grid-template-columns: 100%;  
  grid-template-rows: 7.5rem 1fr 3rem;
  margin: 0 5rem;

  @include respond(xld) {

    margin: 0 2rem;

  }

  @include respond(md) {

    grid-template-rows: 7.5rem 1fr 5.5rem;

  }

  .main-container {
    
    height: 100%;
    position: relative;
    overflow-y: scroll;

  }
}
