.nav-bar {

  width: 300px;
  display: flex;
  flex-direction: space-between;
  justify-content: flex-end;
  align-items: center;

  &__list {

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    @include respond(md) {

      display: none;

    }

    .nav-list-item {

      margin: 1rem 0;

      .nav-bar-link {

        width: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0.6rem 1.8rem;
        transition: all 0.3s ease;
        // Border transparent to remove the hover movement not wanted effect
        border: 1px solid transparent;

        @include respond(xld) {
          padding: 0.6rem 1rem;
        }

        @include respond(ld) {
          padding: 0.4rem 0.8rem;
          border: none;
          border-bottom: 1px solid transparent;
        }

        &:hover {
          // border: 1px solid $color-tundora;
          border-radius: 20rem;
          background-color: $color-gray-light;
        }

        .nav-icon-wrapper {

          width: 4rem;

        }

      }

      .router-link-active {
        border-radius: 20rem;
        background-color: $color-gray-light;
      }

      .nav-bar-text-margin-left {
        margin-left: 1.3rem;

        @include respond(xld) {
          margin-left: 0.8rem;
        }
      }
    }
  }
}


