.nav-bar {
  flex-grow: 2;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-list-item {

      .nav-bar-tag{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;        
        padding: 1rem 2rem;

        &:hover {
          border: 1px solid gray;
          border-radius: 20rem;
        }

      }

      .nav-icon {
        margin-right: 1rem;
      }
    }
  }
}
