.nav-bar {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &__list {
    width: 88rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;

    .nav-list-item {

      .nav-bar-tag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 1.8rem;
        transition: all 0.5s ease;
        // Border transparent to remove the hover movement not wanted effect
        border: 1px solid transparent;

        &:hover {
          border: 1px solid gray;
          border-radius: 20rem;
        }
      }

      .nav-bar-text-margin-left {
        margin-left: 1.3rem;
      }

    }
  } 

}
