.sidenav {

  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 300;
  flex-direction: row;

  .sidenav-container {

    position: relative;
    width: 30rem;
    height: 100%;
    background-color: var(--color-page-background);
    padding: 3rem;
    z-index: 400;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    -webkit-box-shadow: 30px 32px 4px 14px rgba(0, 0, 0, 0), 0px 5px 36px 10px rgba(0, 0, 0, 0.63);
    box-shadow: 30px 32px 4px 14px rgba(0, 0, 0, 0), 0px 5px 36px 10px rgba(0, 0, 0, 0.63);

    animation-name: slide-right;
    animation-duration: 0.7s;

    @include respond(sm) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .sidenav-btn-wrapper {

      padding: 1px;
      position: absolute;
      top: 13px;
      right: 13px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sidenav-header {

      width: auto;
      margin-bottom: 2rem;
      display: inline-block;

    }

    &__settings {

      display: flex;
      width: 16rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .theme-wrapper {

        display: flex;
        justify-content: center;
        align-items: center;

      }

      .theme-icon-margin-left {

        margin-left: 1.9rem;

      }

      .language-wrapper {}

      .icon-theme {

        margin-left: 1rem;
        width: 2rem;
        height: 2rem;

      }
    }

    &__menu {

      display: flex;
      width: 100%;
      flex-direction: column;

      @include respond(sm) {

        align-items: center;
        width: 50%;

      }

      .sidenav-liste {}

      .sidenav-list-item {
        list-style: none;
        width: 100%;
        padding-bottom: 1rem;
        border: 1px solid transparent;
        transition: all 0.2s ease;

        &:not(last-child) {
          margin-bottom: 2rem;
        }
      }

      .sidenav-link {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .side-nav-icon-wrapper {
          width: 6rem;
        }

      }

      .sidenav-list-item:hover {
        border-bottom: 1px solid var(--color-border);
      }

      .sidenav-list-item .sidenav-link {
        cursor: pointer;
        pointer-events: auto;
      }

      .router-link-active {
        border-bottom: 1px solid var(--color-border);
      }

    }
  }

  .dark-field {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    animation-name: slide-right-opacity;
    animation-duration: 1s;

    @include respond(sm) {
      display: none;
    }
  }

  @keyframes slide-right-opacity {
    0% {
      left: -1500px;
      opacity: 0;
    }

    100% {
      left: 0;
      opacity: 0.6;
    }
  }

  @keyframes slide-right {
    0% {
      left: -1500px;
    }

    100% {
      left: 0;
    }
  }

}

.hide-side-nav {
  display: none;
}

.show-side-nav {
  display: flex;
}
