
<form class="login-form" >

    <!-- User name -->

    <mat-form-field id="login-mat-form-field">

        <mat-label id="login-mat-form-field" >User</mat-label>

        <input matInput id="login-mat-form-field"  type="text" placeholder="User"> 

        <mat-error>

           User name is required

        </mat-error>     

    </mat-form-field>

     <!-- Password -->

    <mat-form-field id="login-mat-form-field">

        <mat-label id="login-mat-form-field" >Password</mat-label>

        <input matInput id="login-mat-form-field"  type="text" placeholder="Password"> 

        <mat-error>

            Password  is required

        </mat-error>     

    </mat-form-field>

    
</form>