<form class="login-form" (submit)="onSubmit()" [formGroup]="loginForm">

    <!-- User name -->

    <mat-form-field id="login-mat-form-field">

        <mat-label id="login-mat-form-field">

            User

        </mat-label>

        <input 
            matInput
            id="login-mat-form-field"
            type="text"
            name="user"
            formControlName="userName"
            placeholder="User"
        >

        <mat-error >

            User name is required

        </mat-error>

    </mat-form-field>

    <!-- Password -->

    <mat-form-field id="login-mat-form-field">

        <mat-label id="login-mat-form-field">

            Password

        </mat-label>

        <input 
            matInput
            id="login-mat-form-field"
            name="password"  
            formControlName="password"       
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
        >

        <mat-icon 
            matSuffix
            (click)="hide = !hide"
        >

            {{hide ? 'visibility_off' : 'visibility'}}

        </mat-icon>

        <mat-error>

            Password is required

        </mat-error>

    </mat-form-field>

    <button 
        class="login-button"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
    >

        Login

    </button>

</form>