<article class="linear-chart-container"> 

  <h1 class="statistics-header">Linear chart of profit/lose gross value</h1>

    <ngx-charts-line-chart    
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="linearChartData"
      [autoScale]="autoScale" 

      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"

      
      >
    </ngx-charts-line-chart>
    
</article>
