<article class="linear-chart-container"> 

  <h1 class="statistics-header"> {{ 'statistics.statisticsLinearChartHeader'| translate}} </h1>

    <ngx-charts-line-chart    
    
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="'statistics.statisticsLinearChartX'| translate"
      [yAxisLabel]="'statistics.statisticsLinearChartY'| translate"
      [timeline]="timeline"
      [results]="linearChartData"
      [autoScale]="autoScale"
      [roundDomains]="roundDomains" 

      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      
      >
    </ngx-charts-line-chart>
    
</article>
