<app-loading-screen *ngIf="getShowLoadingIndicator"></app-loading-screen>

<main class="auth-container">

    <section class="auth-form-wrapper">

        <router-outlet></router-outlet>

    </section>

    <section class="auth-graphic-wrapper">

        <div class="header-main">

            <h1 class="main-header-h1 main-header-h1--blue">

                Stock

                <span class="main-header-h1 main-header-h1--gray">

                    Helper

                </span>

            </h1>

        </div>

        <img class="auth-image" src="./assets/img/bul.png" alt="bul_img">

        <div class="auth-citate-wrapper">

            <h2 class="">

                "The stock market is full of people who know the price of everything but don't know the value of
                anything."

            </h2>

        </div>

    </section>

</main>