<app-loading-screen *ngIf="getShowLoadingIndicator"></app-loading-screen>

<main class="auth-container">

    <section class="auth-form-wrapper">

        <router-outlet></router-outlet>

    </section>

    <section class="auth-images-wrapper">

        <div class="header-main">          

            <h1 class="main-header-h1 main-header-h1--blue">

                Stock 

                 <span class="main-header-h1 main-header-h1--gray">

                     Helper

                </span>

            </h1>

        </div>

        <div class="auth-image">

            <img src="./assets/img/bul.jpg" alt="bul_img">

        </div>

        <div class="auth-citate-wrapper">

            <h2 class="">

                "The stock market is full of people who know the price of everything but don't know the value of anything."
                
            </h2>

        </div>

    </section>

</main>