<form class="currency-calculator-form" [formGroup]="currencyForm" >

    <h2 class="currency__header currency-header">{{ 'currency.currencyCalculatorHeader'| translate}}</h2>

    <div class="currency-select-wrapper">

        <!-- Currency 1 -->

        <mat-form-field id="currency-select">

            <mat-label id="currency-label">{{ 'currency.currencyCalculatorForm_1'| translate}}</mat-label>

            <mat-select 
                formControlName="currencyOneName"
                (selectionChange)="onSelectCurrencyOne($event.value)" 
            >
                <mat-option></mat-option>
                
                <mat-option *ngFor="let cur of currencySelectList" [value]="cur.value" >
                    
                    <p>{{cur.value}}</p>

                </mat-option>

            </mat-select>

        </mat-form-field>

        <!-- Quantity -->

        <mat-form-field id="currency-input">

            <mat-label id="currency-label">{{ 'currency.currencyCalculatorFormQuantity'| translate}}</mat-label>

            <input 
                type="number"
                matInput
                formControlName="currencyOneQuantity"
                (input)="onTypeCurrencyQuantity($event)"
            >

        </mat-form-field>

    </div>

    <div class="currency-btn-wrapper">

        <button 
            mat-mini-fab
            color="primary"
            class="btn-margin-right"
            (click)="onSwapCurrencies()"
        >

            <mat-icon>swap_vert</mat-icon>

        </button>

        <p class="currency-calc-text">
              1 
              {{currencyForm.value.currencyOneName}}
               = 
              {{currencyData?.rates[currencyForm.value.currencyTwoName] | number:'1.3-3'}}
              {{currencyForm.value.currencyTwoName}}
            </p>

    </div>


    <div class="currency-select-wrapper">

        <!-- Currency 2 -->

        <mat-form-field id="currency-select">

            <mat-label id="currency-label">{{ 'currency.currencyCalculatorForm_2'| translate}}</mat-label>

            <mat-select 
                formControlName="currencyTwoName"  
                (selectionChange) = "onSelectCurrencyTwo($event.value)"             
            >

                <mat-option></mat-option>

                <mat-option *ngFor="let cur of currencySelectList" [value]="cur.value">

                    <p>{{cur.viewValue}}</p>

                </mat-option>

            </mat-select>

        </mat-form-field>

        <!-- Result -->

        <mat-form-field id="currency-input">

            <mat-label id="currency-label">{{ 'currency.currencyCalculatorFormResult'| translate}}</mat-label>           

            <input 
                type="text"
                matInput
                formControlName="currencyTwoResult"    
                [value]="currencyForm.get('currencyTwoResult').value | number:'1.3-3'"           
                readonly                         
            >

        </mat-form-field>

    </div>

</form>