<h1 class="currency__header currency-header">Currency exchange calculator</h1>

<div class="currency-select-wrapper">

    <mat-form-field id="currency-select">

        <mat-label>Currency 1</mat-label>

        <mat-select>

            <mat-option *ngFor="let cur of currency" [value]="cur.value">

                <div class="currency-select-option-wrapper">

                    <img src="./../../assets/svg flags/united-kingdom.svg"
                        class="currency-flag-img currency-flag-img--us">

                    <p>{{cur.viewValue}}</p>

                </div>

            </mat-option>

        </mat-select>

    </mat-form-field>

    <p class="currency-calc-result-text">{{1}}</p>

</div>

<button mat-mini-fab color="primary"><mat-icon>swap_vert</mat-icon></button>

<div class="currency-select-wrapper">

    <mat-form-field id="currency-select">

        <mat-label>Currency 2</mat-label>

        <mat-select>

            <mat-option *ngFor="let cur of currency" [value]="cur.value">

                <div class="currency-select-option-wrapper">

                    <img src="./../../assets/svg flags/united-kingdom.svg"
                        class="currency-flag-img currency-flag-img--us">

                    <p>{{cur.viewValue}}</p>

                </div>

            </mat-option>

        </mat-select>

    </mat-form-field>

    <p class="currency-calc-result-text">{{1}}</p>

</div>