.dark-theme {
  --color-page-background: #{$color-tundora};
  --color-border: #{$color-white};

  --color-icon-logo: #{$color-white};
  --color-icon: #{$color-white};

  --color-text-prime: #{$color-white};
  --color-text-nav: #{$color-white};
  --color-text-form: #{$color-white};
  --color-text-stroke-1: #{$color-white};
  --color-text-stroke-2: #{$color-tundora};

  --home-background-img: url(./../../assets/img/dot-back-dark.jpg);


}
