<section class="not-found-page-container">

    <div class="not-found-header-wrapper">
        
        <h1 class="main-header-h1 main-header-h1--blue">Stock <span class="main-header-h1 main-header-h1--span">Helper</span></h1>

        <h1 class="not-found-header not-found-header--large ">

            404

        </h1>

        <h2 class="not-found-header not-found-header--medium">

            page not found

        </h2>

        <a class="nav-bar-text nav-bar-link " href="/home">

            <-- back home page 

        </a>

    </div>

    <img class="not-found-img" src="./assets/img/graph-3078539_640.png" alt="lose_img">

</section>