.icon {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: contain;

  &--header-main {
    background-image: url('./../../assets/icon/stock-chart-1.svg');
    width: 5rem;
    height: 3.8rem;

    @include respond(xld) {
      width: 3.6rem;
      height: 2.9rem;
    }
  }

  &--info-white {
    background-image: url('./../../assets/icon/information-button.svg');
    width: 2.3rem;
    height: 2.3rem;
  }

  &--moon {
    background-image: url('./../../assets/icon/Icon awesome-moon.svg');
    width: 2rem;
    height: 2.3rem;

    @include respond(sm) {
      width: 3rem;
      height: 3.5rem;
    }
  }

  &--sun {
    background-image: url('./../../assets/icon/Icon awesome-sun.svg');
    width: 2.3rem;
    height: 2.3rem;

    @include respond(sm) {
      width: 3.3rem;
      height: 3.3rem;
    }
  }

  &--close {
    background-image: url('./../../assets/icon/Icon ionic-ios-close-circle-outline.svg');
    width: 20px;
    height: 20px;
  }

  &--menu {

    background-image: url('./../../assets/icon/Icon feather-menu.svg');
    width: 20px;
    height: 18px;
    display: none;

    @include respond(md) {

      display: block;

    }

  }

  &--gear {

    background-image: url('./../../assets/icon/gear.svg');
    width: 18px;
    height: 18px;
    display: block;

    @include respond(md) {

      display: none;

    }

  }

  &--sidenav-open {
    background-image: url('./../../assets/icon/Icon awesome-cog.svg');
    width: 20px;
    height: 20px;
  }

  &--add {
    background-image: url('./../../assets/icon/Icon ionic-ios-add-circle-outline.svg');
    width: 2rem;
    height: 2rem;
  }

  &--pencil {
    background-image: url('./../../assets/icon/Icon awesome-pencil-alt.svg');
    width: 2rem;
    height: 2rem;
    
    @include respond(sm) {
      width: 2.7rem;
      height: 2.7rem;     
    }

  }

  // Navbar

  &--home {
    background-image: url('./../../assets/icon/Icon awesome-home.svg');
    width: 1.6rem;
    height: 1.4rem;

    @include respond(sm) {
      width: 2.6rem;
      height: 2.4rem;
    }
  }

  &--plan {
    background-image: url('./../../assets/icon/Icon ionic-ios-list-box.svg');
    width: 1.4rem;
    height: 1.4rem;

    @include respond(sm) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &--calculator {
    background-image: url('./../../assets/icon/Icon awesome-calculator.svg');
    width: 1.2rem;
    height: 1.4rem;

    @include respond(sm) {
      width: 2.2rem;
      height: 2.4rem;
    }
  }

  &--money {
    background-image: url('./../../assets/icon/Icon awesome-money-bill-alt.svg');
    width: 2.4rem;
    height: 1.4rem;

    @include respond(sm) {
      width: 4.2rem;
      height: 2.4rem;
    }
  }

  &--chart {
    background-image: url('./../../assets/icon/Icon metro-chart-dots.svg');
    width: 1.5rem;
    height: 1.4rem;

    @include respond(sm) {
      width: 2.5rem;
      height: 2.4rem;
    }
  }

  &--calendar {
    background-image: url('./../../assets/icon/Icon awesome-calendar-alt.svg');
    width: 1.2rem;
    height: 1.4rem;

    @include respond(sm) {
      width: 2.2rem;
      height: 2.4rem;
    }

  }

  &--delete-black {

    background-image: url('./../../assets/icon/delete-black.svg');
    width: 2rem;
    max-height: 20px;

  }

  &--delete-white {

    background-image: url('./../../assets/icon/delete-white.svg');
    width: 1.2rem;
    height: 1.4rem;

  }

}
