.trade-tile {
  width: 35rem;
  min-width: 32rem;
  height: calc(100vh - 21.3rem);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 24% 32.5% 6% 32.5% 5%;
  // grid-template-rows: 2fr 5fr 1fr 5fr 1fr;
  grid-template-rows: 12.7rem 1fr 4rem 1fr 42px;

  @include respond(md) {
    grid-template-rows: 14rem 1fr 40px 1fr 42px;
    width: 40rem;
    height: calc(100vh - 22.5rem);
  }

  @include respond(sm) {     
    height: calc(100vh - 25rem);
  }

  @include respond(xs) {    
    height: calc(100vh - 27rem);  
    width: 100%;
    min-width: 100%;
    grid-template-rows: 14.5rem 1fr 40px 1fr 37px;
    padding: 15px;
  }

  &__stock-data {
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5px;

    .trade-tile-stock-header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3px;
      border-bottom: 1px solid var(--color-border);
      padding: 0.4rem;
    }

    .trade-tile-stock-header-wrapper-1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .trade-tile-stock-header-wrapper-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem;
    }

    .trade-tile-stock-header-button-wrapper {
      display: flex;
    }

    .trade-tile-header-margin-left {
      margin-left: 1.2rem;
    }
  }

  &__positive-stock-change {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
   
  }

  &__neutral-stock-change {
    display: block;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    margin: 3px 0;
  }

  &__negative-stock-change {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
   
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .trade-shape {
    display: inline-block;
    width: 0;
    height: 0;

    &--gray-dot {
      width: 1.8rem;
      height: 1.8rem;
      background-color: var(--color-border);
      border-radius: 10px;
    }

    &--green-big {
      border-bottom: 2rem solid $color-green;
      border-left: 1.2rem solid transparent;
      border-right: 1.2rem solid transparent;
    }

    &--red-big {
      border-top: 2rem solid $color-red;
      border-left: 1.2rem solid transparent;
      border-right: 1.2rem solid transparent;
    }

    &--green-small {
      border-bottom: 1.6rem solid $color-green;
      border-left: 0.9rem solid transparent;
      border-right: 0.9rem solid transparent;
    }

    &--red-small {
      border-top: 1.6rem solid $color-red;
      border-left: 0.9rem solid transparent;
      border-right: 0.9rem solid transparent;
    }
  }

  //li item 
  .trade-tile-stock-change-container {
    display: flex;
    min-height: 29px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: all 0.2s ease;

    &--background {
      background-color: $color-dodger-blue;
    }

    &--background .trade-tile-stock-text {
      color: white;
    }

    &:hover {
      background-color: $color-gray-light;
    }

    &:active {
      background-color: $color-dodger-blue;
    }

    .stock-offer-change-width {
      width: 30%;
    }

    .stock-offer-change-margin-left {
      margin-left: 1rem;
    }
  }
}

.trade-tile-margin {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  
  @include respond(sm) {
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
