<li 
    [id]="getKeyId"
    class="trade-tile-stock-change-container" 
    [ngClass]="{'trade-tile-stock-change-container--background': getLoseQuote?.selected }"
>

    <div class="trade-shape trade-shape--red-small"></div>

    <div class="stock-offer-change-width">
        <p class="trade-tile-stock-text
                trade-tile-stock-text--xld 
                stock-offer-change-margin-left                         
                "
        >          
            {{getLoseQuote?.percentageChange}} %
        </p>
    </div>

    <div class="stock-offer-change-width">
        <p class="trade-tile-stock-text
                trade-tile-stock-text--xld
                stock-offer-change-margin-left    
                "
        >          
            {{getLoseQuote?.newPrice}}
        </p>
    </div>

    <div class="stock-offer-change-width">
        <p class="trade-tile-stock-text
                trade-tile-stock-text--xld
                stock-offer-change-margin-left                       
                "
        >         
            {{getLoseQuote?.profit}}
        </p>
    </div>

</li>
