<div class="global-dialog">

    <h1 class="global-dialog__header modal-dialog-header-text" >{{data.header}}</h1>

    <div class="global-dialog__text">

        <p class="modal-dialog-text">{{data.description}}</p>
        
    </div>


    <div class="global-dialog__btn-container">

        <button 
            mat-raised-button
            type="button"
            color="warn"
            (click)="onDelete()"
        >
            Yes
        </button>
    
        <button 
            mat-raised-button
            type="button"
            (click)="onCancel()"
        >
           No
        </button>

    </div>

</div>