// Colors

$color-white: white;
$color-black: black;
$color-tundora: #404040;
$color-gray: #858585;
$color-gray-light: #d1d1d1;

// Color for chart pipe wheels
$color-chart-1: #07d7f7;
$color-chart-2: #00778a;
$color-chart-3: #266872;
$color-chart-4: #004d58;
$color-chart-5: #003942;
$color-chart-6: #0084ff;
$color-chart-7: #0051ff;
$color-chart-8: #4a68bd;
$color-chart-9: #00c7b6;

$color-azure-radiance: #00A8FF;
$color-dodger-blue: #2196F3;
$color-aqua: #00D3FF;
$color-java: #18BCD6;
$color-cloud-burs: #1b2c4b;

$color-green: #0be204;
$color-excel-green: #1d6f42;
$color-japanese-laurel: #2196F3;
$color-red :#f30625;
$color-monza :#bd031b;
$color-buddha-gold :#cfa900;

// Font sizes

$font-size-home-text: 1.4rem; 
$font-size-paragraph: 1.6rem;

:root {
  --color-page-background: #{$color-white};
  --color-sidenav-background: #{$color-java};

  --color-border: #{$color-gray};

  --color-icon-logo: #{$color-java};
  --color-icon: #{$color-tundora};

  // --color-button-primary: #{$color-dodger-blue};
  --color-button-cancel: #{$color-buddha-gold };

  --color-text-prime: #{$color-tundora};
  --color-text-nav: #{$color-tundora};
  --color-text-form: #{$color-tundora};
  
  --color-text-calculator: #{$color-tundora};
  --color-text-calculator-button: #{$color-white};
  --color-text-table: #{$color-tundora};
  --color-text-charts: #{$color-dodger-blue};

  --home-background-img: url(./../../assets/img/dot-back.jpg);
}
