<section class="statistics">

    <mat-tab-group mat-align-tabs="start" mat-stretch-tabs animationDuration="500ms"id="statistics">

        <!-- Linear chart -->

        <mat-tab label="{{ 'statistics.statisticsStepperChart'| translate}}">

            <ng-template matTabContent>

                <app-linear-chart 
                    [linearChartData]="linearChartData"
                >
                </app-linear-chart>

            </ng-template>

        </mat-tab>

        <!-- Table-->

        <mat-tab label="{{ 'statistics.statisticsStepperTable'| translate}}">

            <ng-template matTabContent>

                <app-table                 
                    [transactionsData]="getTransactionsData"             
                    (deleteTradePositionFromTable)="onDeletePositionFromTable($event)"            
                >
                </app-table>

            </ng-template>

        </mat-tab>

        <!-- Circle charts-->

        <mat-tab label="{{ 'statistics.statisticsStepperStatistics'| translate}}" id="chart-container">

            <ng-template matTabContent>

                <app-stat-chart 
                    [profitLossesData]="profitLossesData"
                    [transactionWallet]="getTransactionWallet"
                >
                </app-stat-chart>
                
            </ng-template>          

        </mat-tab>

    </mat-tab-group>

</section>