<article class="statistics">

    <mat-tab-group id="statistics">

        <!-- Linear chart -->

        <mat-tab label="Trade Chart">

            <ng-template matTabContent>

                <app-linear-chart 
                    [linearChartData]="linearChartData"
                >
                </app-linear-chart>

            </ng-template>

        </mat-tab>

        <!-- Table-->

        <mat-tab label="Trade table">

            <ng-template matTabContent>

                <app-table                 
                    [transactions]="getTransactionsData"             
                >
                </app-table>

            </ng-template>

        </mat-tab>

        <!-- Circle charts-->

        <mat-tab label="Statistics" id="chart-container">

            <ng-template matTabContent>

                <app-stat-chart 
                    [profitLossesData]="profitLossesData"
                    [transactionsData]="getTransactionsData"
                >
                </app-stat-chart>
                
            </ng-template>          

        </mat-tab>

    </mat-tab-group>

</article>