<div class="currency">

    <div 
        class="
            currency__container 
            currency__container--margin-right
            currency__container--flex-order-one
            "
    >

        <app-currency-crypto
            [bitCoinPriceData]="bitCoinPriceData"
            [ethereumPriceData]="ethereumPriceData"
        >
        </app-currency-crypto>

        <app-currency-foreign-exchange
            [currencyData]="currencyData"            
        >
        </app-currency-foreign-exchange>

    </div>

    <div 
        class="
        currency__container
        currency__container--flex-order-two
        currency__container--margin-bottom
        "
    >
    
        <app-currency-form 
            [currencyData]="currencyData"
            [currencyCalculationResult$]="currencyCalculationResult$"
            [firstCurrencyName$]="firstCurrencyName$"
            [secondCurrencyName$]="secondCurrencyName$"

            (swapCurrencies)="onSwapCurrencies()"
            (currencyQuantity)="onTypeCurrencyQuantity($event)"
            (choseCurrencyOne)="onSelectCurrencyOne($event)"
            (choseCurrencyTwo)="onSelectCurrencyTwo($event)"
        >
        </app-currency-form>

    </div>

</div>
