<section class="currency">

    <article 
        class="
            currency__container 
            currency__container--margin-right
            currency__container--flex-order-one
            "
    >

        <app-currency-crypto
            class="currency-crypto-wrapper"
            [bitCoinPriceData]="bitCoinPriceData"
            [ethereumPriceData]="ethereumPriceData"
        >
        </app-currency-crypto>

        <app-currency-foreign-exchange
            class="currency-exchange-wrapper"
            [currencyData]="currencyData"            
        >
        </app-currency-foreign-exchange>

    </article>

    <article 
        class="
        currency__container
        currency__container--flex-order-two
        currency__container--margin-bottom
        "
    >
    
        <app-currency-form 

            class="currency-calculator-form" 
            
            [currencyData]="currencyData"
            [currencyCalculationResult$]="currencyCalculationResult$"
            [firstCurrencyName$]="firstCurrencyName$"
            [secondCurrencyName$]="secondCurrencyName$"

            (swapCurrencies)="onSwapCurrencies()"
            (currencyQuantity)="onTypeCurrencyQuantity($event)"
            (choseCurrencyOne)="onSelectCurrencyOne($event)"
            (choseCurrencyTwo)="onSelectCurrencyTwo($event)"
        >
        </app-currency-form>

    </article>

</section>
