<div class="currency">

    <div class="currency__container currency__container--margin-right">

        <div class="currency-wrapper">

            <h1 class="currency__header currency-header">Live CryptoCurrency quotes </h1>

            <div class="currency-wrapper-wrap">

                <div class="currency-wrapper-offer">

                    <svg class="icon icon--bitcoin"></svg>
                    <p>1 BTC = {{40000}} USD</p>

                </div>

                <div class="currency-wrapper-offer">

                    <svg class="icon icon--ethereum"></svg>
                    <p>1 ETH = {{1500}} USD</p>

                </div>

            </div>

        </div>

        <div class="currency-wrapper">

            <h1 class="currency__header currency-header">Currency quotes </h1>

            <div class="currency-wrapper-wrap">

                <div class="currency-wrapper-offer">

                    <img src="./../../assets/svg flags/united-states.svg"
                        class="currency-flag-img currency-flag-img--us" alt="">
                    <p>1 USD = {{3.56}} {{'PLN'}} </p>

                </div>

                <div class="currency-wrapper-offer">

                    <img src="./../../assets/svg flags/european-union.svg"
                        class="currency-flag-img currency-flag-img--us" alt="">
                    <p>1 USD = {{3.56}} {{'PLN'}} </p>

                </div>

                <div class="currency-wrapper-offer">

                    <img src="./../../assets/svg flags/united-kingdom.svg"
                        class="currency-flag-img currency-flag-img--us" alt="">
                    <p>1 USD = {{3.56}} {{'PLN'}} </p>

                </div>

            </div>

        </div>

    </div>

    <div class="currency__container">

        <div class="currency-wrapper">

            <app-currency-form></app-currency-form>

        </div>

    </div>

</div>