<section class="trade-board">

    <button 
        id="trade-board-add-button"
        class="trade-board__button-postion" 
        color="primary"
        mat-raised-button (click)="onAddNewStock()"
    >

        {{'trade.addButtonText' | translate}}

    </button>

    <article class="trade-board__container">

        <div class="pulsing-rings" *ngIf="stockBoardArray.length === 0" (click)="onAddNewStock()">
        
            <div class="trade-board-info-sign-wrapper ">
    
                <p class="trade-board-info-text">{{'trade.tradeInfoTextOne' | translate}}</p>
    
                <p class="trade-board-info-text">{{'trade.tradeInfoTextTwo' | translate}}</p>
    
            </div>

        </div>

        <app-stock-tile 

            class="trade-tile-margin trade-tile" 
            (editTile)="onEditTile($event)"
            (deleteTile)="onDeleteTile($event)"
            (savePickedOffer)="onSavePickedOffer($event)"
            (sellStock)="onSellStock($event)"
            *ngFor="let stockElement of stockBoardArray"
            [stockElement]="stockElement"
            [offerMarker]="stockElement?.markerOfferType"
            [offerId]="stockElement?.markerOfferValue"

        >

        </app-stock-tile>

    </article>

</section>