<article class="trade-board">

    <button class="trade-board__button-postion" mat-raised-button (click)="onAddNewStock()">ADD</button>

    <section class="trade-board__container">        
        
        <app-stock-tile 
            class="trade-tile-margin trade-tile" 
            (editTile) = "onEditTile($event)"
            (deleteTile) = "onDeleteTile($event)"   
            (savePickedOffer) ="onSavePickedOffer($event)"
            (sellStock) ="onSellStock($event)"
            *ngFor = "let stockElement of stockBoardArray"
            [stockElement]="stockElement"   
            [offerMarker]="stockElement?.markerOfferType"        
            [offerId]="stockElement?.markerOfferValue" 
        >
        </app-stock-tile>     

    </section>

</article>


