<article class="statistics-charts">

    <app-stat-header 
        class="statistics-container-stats-wrapper"
        [profitLossesData]="getProfitLossesData"
        [loseProfitDataMarker]="getLoseProfitDataMarker"
     >
    </app-stat-header>

    <div class="statistics-charts__container">

        <!-- multi circle charts -->

        <div class="statistics-charts-wrapper">

            <app-advanced-pipe-chart 
                [transactionWallet]="getTransactionWallet"
                [colorScheme]="getChartColorPallet"
            >
            </app-advanced-pipe-chart>

        </div>

        <!-- sliced circle chart -->

        <div class="statistics-charts-wrapper">

            <app-pipe-grid-chart [profitLossesData]="getProfitLossesData"></app-pipe-grid-chart>

        </div>

    </div>

</article>