<div class="statistics-charts">

    <div class="statistics-characters__container">
        
        <h1 class="statistics-header statistics-header-align-center">Investment portfolio content</h1>

        <app-advanced-pipe-chart></app-advanced-pipe-chart>

        <h2 class="statistics-header statistics-header-align-center">Total Ballance: {{12345}} </h2>

    </div>

    <div class="statistics-characters__container">

        <h1 class="statistics-header">Profit/Lose</h1>

        <app-pipe-grid-chart></app-pipe-grid-chart>

        <div class="statistics-container-chart-wrapper">
            <h2 class="statistics-header statistics-header--color-green statistics-header-align-center">Profit: {{89}}% ({{158.89}})</h2>
            <h2 class="statistics-header statistics-header--color-red statistics-header-align-center">Lose: {{11}}% ({{12.89}})</h2>
        </div>


    </div>

</div>