<li 
    [id]="0"
    class="trade-tile-stock-change-container" 
    [ngClass]="{'trade-tile-stock-change-container--background': getNeutralQuote?.selected }"
>

    <div class="trade-shape trade-shape--gray-dot"></div>

    <div class="stock-offer-change-width">
        <p class="trade-tile-stock-text
                trade-tile-stock-text--xld 
                stock-offer-change-margin-left                         
                "
        >
            {{getNeutralQuote?.percentageChange}}%         
        </p>
    </div>

    <div class="stock-offer-change-width">
        <p class="trade-tile-stock-text
                trade-tile-stock-text--xld
                stock-offer-change-margin-left    
                "
        >
            {{getNeutralQuote?.newPrice}}           
        </p>
    </div>

    <div class="stock-offer-change-width">
        <p class="trade-tile-stock-text
                trade-tile-stock-text--xld
                stock-offer-change-margin-left                       
                "
        >
            - {{getNeutralQuote?.profit}}           
        </p>
    </div>

</li>
