.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include respond(sm) {
      
    flex-direction: column-reverse;
    
 }

  .auth-form-wrapper {

    width: 33%;
    height: 100%;
    
    @include respond(md) {
      
        width: 50%;
        
     }
        
    @include respond(sm) {
      
        width: 100%;       
        
     }

  }

  .auth-images-wrapper {
    padding: 3rem;
    height: 100%;
    width: 66%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    
    @include respond(md) {
      
        width: 50%;
        
     }

     @include respond(sm) {
      
        width: 100%;
        height: 200px;
        
     }

  }

}
