.calcultor {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  overflow-y: auto;

  @include respond(ld) {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__container {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;

    @include respond(ld) {
      flex-direction: column;
    }

    .calculator-result-board-wrapper {
      padding-bottom: 1rem;
      border-bottom: 1px solid $color-white;
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  .calculator-wrapper {
    display: flex;
    flex-direction: row;
  }

  .calculator-result-board {
    height: 100%;
    width: 35rem;
    flex-grow: 2;
  }
}

// Calculator device
.calc-device-container {
  max-width: 44rem;
  height: 60rem;
  display: flex;
  flex-direction: column;

  border: 4px solid rgb(27, 44, 75);
  background-color: rgb(27, 44, 75);

  &__output {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  &__input {
    display: grid;
    grid-gap: 4px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: repeat(5, 8rem);

    .btn-width {
      grid-column: 1/3;
    }
  }
}

.equation,
.calc-result {
  min-height: 6rem;
  padding: 0 2rem;
  text-align: right;
  color: white;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.calc-result {
  font-size: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.equation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(177, 177, 177);
  font-size: 3.5rem;
  flex-grow: 2;
}

.calc-button {
  background-color: rgb(75, 75, 75);
  color: white;
  border: none;
  outline: none;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgb(1, 103, 255);
  }

  &--num {
    color: black;
    background-color: rgb(255, 255, 255);
  }

  &--equale {
    background-color: rgb(255, 187, 0);
  }
}

//
.calculator-result-board {
  width: 35rem;
  height: 100%;
  margin-right: 2rem;
  padding: 2rem;
  list-style: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background: rgb(27, 44, 75);
  overflow-y: auto;

  @include respond(ld) {
    width: 100%;   
    margin-right: 0;
    margin-bottom: 1rem;
    height: 30rem;
  }
}

// Advance calculator form 
.stock-advanced-calculator {
  width: 40rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .stock-advanced-calculator-form-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__result {

    .stock-advanced-calculator-result-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.7rem;

      &:not(:last-child) {
        border-bottom: 1px solid black;
        padding-bottom: 0.7rem;
      }
    }
  }

  &__button-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
