.calculator {

  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;

  @include respond(ld) {

  }

  @include respond(md) {

    flex-direction: column;
    justify-content: flex-start;

  }

  &__container {    

    width: auto;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;

    &--margin-bottom {

      margin-bottom: 2rem;

    }

    @include respond(ld) {

      flex-direction: column-reverse;
      justify-content: flex-end;

    }

    @include respond(md) {

      width: 100%;
      align-items: center;
      padding: 2rem;

    }

    .calculator-result-board-list-item {

      padding-bottom: 1rem;
      border-bottom: 1px solid $color-white;
      margin-bottom: 1rem;
      width: 80%;

    }

  }

  .calculator-component-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--margin-bottom {

      margin-bottom: 10px;

    }

  }

  .calculator-result-board {

    width: 26.5rem;
    height: 56.4rem;
    margin-right: 2rem;
    padding: 2rem;
    list-style: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $color-cloud-burs;
    overflow-y: auto;

    @include respond(ld) {

      width: 100%;
      height: 35rem;
      margin-right: 0;
      margin-top: 4rem;

    }

    @include respond(md) {

      width: 50rem;
      height: 30rem;

    }

    @include respond(xs) {

      width: 100%;

    }

    .calculator-wrapper {

      display: flex;
      flex-direction: row;

    }

  }
}

// =============================================================================

// Advance calculator form 
.stock-advanced-calculator {

  width: 50rem;

  @include respond(xs) {

    width: 100%;

  }

  &__header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;

  }

  &__form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .stock-advanced-calculator-form-wrapper {

      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include respond(xs) {

        align-items: center;
        flex-direction: column;

      }

    }

  }

  &__result {

    .stock-advanced-calculator-result-wrapper {

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.7rem;

      &:not(:last-child) {

        border-bottom: 1px solid black;
        padding-bottom: 0.7rem;

      }

    }

  }

  &__button-wrapper {

    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}
