.calcultor {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  overflow-y: auto;

  @include respond(md) {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__container {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;

    @include respond(ld) {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }


    @include respond(md) {

      width: 80%;
      align-items: center;

    }

    .calculator-result-board-wrapper {
      padding-bottom: 1rem;
      border-bottom: 1px solid $color-white;
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  .calculator-wrapper {
    display: flex;
    flex-direction: row;
  }

  .calculator-result-board-width {
    width: 100%;
  }

  .calculator-result-board {
    height: 60rem;
    max-width: 35rem;
    min-width: 10rem;
    overflow-y: auto;

    @include respond(xld) {
      height: 46.5rem;
    }

    @include respond(ld) {
      // display: none;
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      height: 10rem;
    }
  }
}

//
.calculator-result-board {
  width: 35rem;
  height: 100%;
  margin-right: 2rem;
  padding: 2rem;
  list-style: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background: rgb(27, 44, 75);
  overflow-y: auto;

  @include respond(ld) {
    width: 100%;
    height: 100%;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @include respond(md) {
   
    margin-top: 4rem;
   
  }
}

// Advance calculator form 
.stock-advanced-calculator {

  width: 40rem;

  @include respond(sm) {

    min-width: 80%;
    width: 100%;

  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .stock-advanced-calculator-form-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__result {

    .stock-advanced-calculator-result-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.7rem;

      &:not(:last-child) {
        border-bottom: 1px solid black;
        padding-bottom: 0.7rem;
      }
    }
  }

  &__button-wrapper {   
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
