.currency-flag-img {
  width: 3rem;
  height: 3rem;
}

.currency {
  height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__header {
      margin-bottom: 2rem;
  }

  &__container {
    height: 100%;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
    margin-top: 2rem;
    

    &--margin-right {
      margin-right: 2rem;
    }

    .currency-wrapper {
      height: 100%;
      width: 100%;
    }
  }

  .currency-wrapper-wrap {

  }

  .currency-wrapper-offer {
      width: 17rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
  }
}

.currency-select-option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
}
