.currency {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  @include respond(sm) {
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__header {

    margin-bottom: 2rem;

  }

  &__container {

    position: relative;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4rem;

    @include respond(sm) {
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    &--margin-bottom {
      margin-bottom: 2rem;
    }

    &--flex-order-one {
      order: 1;

      @include respond(sm) {
        order: 2;
      }
    }

    &--flex-order-two {
      order: 2;

      @include respond(sm) {
        order: 1;
      }
    }

  }

  .currency-offer-overflow-wrapper,
  .currency-exchange-wrapper,
  .currency-crypto-wrapper,
  .currency-calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include respond(sm) {

      width: 100%;

    }

  }

  .currency-crypto-wrapper {

    margin-bottom: 2rem;
    align-items: center;

  }

  .currency-offer-overflow-wrapper {

    height: calc(100vh - 37rem);
    overflow: auto;

    @include respond(sm) {
      overflow: none;
      height: 100%;
    }
  }

  .currency-select-wrapper {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;

    @include respond(sm) {
      width: 40rem;
    }

  }

  .currency-select-option-wrapper,
  .currency-offer-wrapper {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;

  }

  .currency-offer-wrapper {

    margin-bottom: 1rem;
    width: 30rem;

    @include respond(sm) {

      width: 36rem;

    }
  }

  .offer-margin-right {

    margin-right: 2.2rem;

  }

  .offer-currency-width {

    width: 7ch;

    @include respond(sm) {

      width: 8ch;

    }

  }

  .currency-calc-result-width {

    min-width: 12rem;

  }

}

.currency-btn-wrapper {
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;  

  .btn-margin-right {

    margin-right: 2rem;

  }
  
}

.currency-flag-img {

  width: 3rem;
  height: 3rem;
  margin-right: 3rem;

  @include respond(sm) {

    width: 4rem;
    height: 4rem;

  }

}

.currency-calc-footer { 

  margin: 1.3rem 0 ;

}
