.statistics {
  height: 100%;
}

.linear-chart-container {
  margin-top: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistics-charts {

  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}


// Changing the text colorof the linear chart
.ngx-charts text {
  fill: var(--color-text-form);
}
