.trade-board {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;

  &__container {
    width: 100%;
    flex-grow: 2;
    padding: 1rem 0;
  }
}

.trade-tile {

  width: 35rem;
  height: 100%;
  border: 1px solid var(--color-border);
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 40% 5% 40% 5%;

  &__stock-data {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .trade-tile-header-margin-left {
      margin-left: 1rem;
    }

    .trade-tile-stock-header-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .trade-tile-stock-header-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .trade-tile-stock-positive-triangle-big {
      display: block;
      width: 2rem;
      height: 2rem;
      background-color: green;
    }    
  }

  &__positive-stock-change {
    background-color: aqua;
  }

  &__neutral-stock-change {
    background-color: rgb(2, 196, 196);
  }

  &__negative-stock-change {
    background-color: rgb(0, 77, 77);
  }

  &__button-container {
    background-color: rgb(255, 145, 0);
  }
}
