<div class="stock-advanced-calculator">

    <app-header></app-header>
  
    <app-form></app-form>

    <app-result [formExpand]="getFormExpand"></app-result>
    
    <div class="stock-advanced-calculator__button-wrapper">

        <button        
            color="primary"
            mat-raised-button 
            (click)="onCalculate()"          
        >
           Calculate
        </button>

        <button             
            mat-raised-button        
        >
            Clear
        </button>
        
    </div>
</div>