<h1>User info panel</h1>

<mat-vertical-stepper>

	<!-- Trade Board -->

	<mat-step>

		<ng-template matStepLabel>Trade Board</ng-template>		

			<p>1.Add a stock to the trade board</p>	

			<img class="" src="" alt="info_img_1">

	</mat-step>

	<!-- Calculator -->

	<mat-step>

		<ng-template matStepLabel>Calculator</ng-template>	

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
				tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
				eaque
				praesentium deleniti.

			</p>	

	</mat-step>

	<!-- Currencies -->

	<mat-step>

		<ng-template matStepLabel>Currencies</ng-template>
		
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, omnis nemo? Perferendis autem aperiam
			tenetur aspernatur corrupti, repellendus necessitatibus aliquam iure reiciendis fugiat sed ipsam aut. At
			eaque
			praesentium deleniti.
		</p>
		
	
	</mat-step>

	<!-- Statistics -->

	<mat-step>

		<ng-template matStepLabel>Statistics</ng-template>

	</mat-step>

</mat-vertical-stepper>